<module name="Checker">
    <module name="TreeWalker">
        <module name="MethodLength">
            <property name="max" value="10"/>
        </module>
        <module name="LeftCurly"/>
        <module name="RightCurly"/>
        <module name="AvoidStarImport"/>
        <module name="UnusedImports"/>
    </module>
</module>